* {
    box-sizing: border-box;
}

body {
    background-image: url(https://static.wikia.nocookie.net/onepiece/images/b/b5/Site-background-light/revision/latest?cb=20211209210547);
    /* background-repeat: no-repeat; */
    background-size: 150px 150px;
}